.navLinks {
  cursor: pointer;
}
.navLinks * {
  margin-right: 0.5em;
}
.my-masonry-grid {
  display: flex;
  margin-left: -25px; /* gutter size offset */
}

.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  .my-masonry-grid {
    margin: 0;
    justify-content: center;
    margin-left: 0px;
  }
  .my-masonry-grid_column {
    box-sizing: border-box;
    padding-left: 0px; /* gutter size */
  }
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
  }
}
