body {
  background-color: #1c313a;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.selected {
  color: white;
  text-decoration: none;
}
.ReactModal__Overlay {
  z-index: 9999;
}
