body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: green;
  font-size: 24px;
  transition: 500ms;
}