body {
  margin: 0;
  max-width: 100vw !important;
  font-family: "Roboto", sans-serif;
}

.selected {
  color: white;
  text-decoration: none;
}
.ReactModal__Overlay {
  z-index: 9999;
}
#simple-menu {
  z-index: 9999;
}
